.menu-content {
    position: relative;
    height: 0px;
    background-image: url("../../tmp/menu-background.jpg");
    background-position: center;
    overflow: hidden;
    transition: height 1s;
}

.menu-visible {
    height: 600px;
    transition: height 1s;
}

.menu-content .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #000;
}

.menu-content {
    text-align: center;
}

.menu-content span {
    color: #fff;
}

.menu-content .accent {
    font-size: 50px;
    color: #6d6760;
}

.menu-content .title {
    font-size: 32px;
    color: #000;
    padding-top: 10px;
}

.menu-content .content {
    color: #000000;
    padding-top: 60px;
}

ul.leaders {
    padding-left: 10px;
    padding-right: 10px;
}

ul.leaders li {
    clear: both;
}

ul.leaders li span:first-child {
    float: left;
    padding: 0 .4em .4em 0;
    margin: 0;
}

ul.leaders li span + span {
    float: right;
    padding: 0 0 0 .4em;
    margin: 0;
}

ul.leaders li:after {
    content: "";
    display: block;
    overflow: hidden;
    height: 1em;
    border-bottom: 1px dotted;
}
