<div>
    <div class="slider-pro" id="{{sliderId}}">
        <div class="sp-slides">
            <!-- Slide 1 -->
            <div class="sp-slide">
                <img class="sp-image" src="tmp/sushi.jpg"/>
            </div>

            <!-- Slide 2 -->
            <div class="sp-slide" ng-repeat="slide in slides">
                <p>Lorem ipsum dolor sit amet</p>
            </div>

            <!-- Slide 3 -->
            <div class="sp-slide">
                <div>
                    <h3>Lorem ipsum dolor sit amet</h3>

                    <p>consectetur adipisicing elit</p>
                    <button ng-click="gotoSlide()">Next</button>
                </div>
            </div>
        </div>
    </div>
</div>
