<div>
    <div class="slider-pro" id="{{sliderId}}">
        <div class="sp-slides">
            <!-- Slide 1 -->
            <div class="sp-slide">
                <div class="main">
                    <div class="accent">___</div>
                    <div class="title"><span>Menu</span></div>
                    <div class="content">
                        <div class="link" ng-click="gotoSlide(1)"><span> Dania główne </span></div>
                        <div class="link" ng-click="gotoSlide(2)"><span> Zupy </span></div>
                        <div class="link" ng-click="gotoSlide(3)"><span> Desery </span></div>
                        <div class="link" ng-click="gotoSlide(3)"><span> Napoje </span></div>
                        <div class="link" ng-click="gotoSlide(3)"><span> Wina </span></div>
                    </div>
                </div>
            </div>
            <div class="sp-slide">
                <div class="container">
                    <div class="accent">___</div>
                    <div class="title"><span>Dania główne</span></div>
                    <ul class="leaders content">
                        <li><span>Kotlet</span><span>10,00 zł</span></li>
                        <li><span>Źmioki</span><span>3,00 zł</span></li>
                        <li><span>Mizeria</span><span>1,25 zł</span></li>
                        <li><span>Mizeria</span><span>1,25 zł</span></li>
                        <li><span>Mizeria</span><span>1,25 zł</span></li>
                        <li><span>Mizeria</span><span>1,25 zł</span></li>
                        <li><span>Mizeria</span><span>1,25 zł</span></li>
                        <li><span>Mizeria</span><span>1,25 zł</span></li>
                        <li><span>Mizeria</span><span>1,25 zł</span></li>
                        <li><span>Mizeria</span><span>1,25 zł</span></li>
                        <li><span>Mizeria</span><span>1,25 zł</span></li>
                        <li><span>Mizeria</span><span>1,25 zł</span></li>
                    </ul>
                </div>
            </div>
            <div class="sp-slide">
                <div class="container">
                    <div class="accent">___</div>
                    <div class="title"><span>Zupy</span></div>
                    <ul class="leaders content">
                        <li><span>Rosół</span><span>12,35 zł</span></li>
                        <li><span>Rosół</span><span>12,35 zł</span></li>
                        <li><span>Rosół</span><span>12,35 zł</span></li>
                        <li><span>Rosół</span><span>12,35 zł</span></li>
                        <li><span>Rosół</span><span>12,35 zł</span></li>
                        <li><span>Rosół</span><span>12,35 zł</span></li>
                        <li><span>Rosół</span><span>12,35 zł</span></li>
                        <li><span>Rosół</span><span>12,35 zł</span></li>
                        <li><span>Rosół</span><span>12,35 zł</span></li>
                        <li><span>Rosół</span><span>12,35 zł</span></li>
                        <li><span>Rosół</span><span>12,35 zł</span></li>
                        <li><span>Rosół</span><span>12,35 zł</span></li>
                    </ul>
                </div>
            </div>
            <div class="sp-slide">
                <div class="container">
                    <div class="accent">___</div>
                    <div class="title"><span>Desery</span></div>
                    <ul class="leaders content">
                        <li><span>Ciastko</span><span>8,00 zł</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
