<div class="menu" ng-controller="Menu as menu">
    <div class="row">
        <div class="col-lg-6 item-left">
            <div class="inner">
                <div class="accent">___</div>
                <div class="title">Poszukujemy kandydatow</div>
                <div class="content">
                    z pasja i talentem, na rozne stanowiska
                    <br/> <br/>
                    <div style="margin-bottom: 10px;">Szukamy osob odpowiedzialnych uczniwych i gotowych do pracy.</div>
                    <div style="margin-bottom: 10px;"> Cenimy zaangazowanie, szybkosc uczenia sie oraz zyczliwosc</div>
                    <div style="margin-bottom: 10px;"> Zapewniamy bardzo dobre warunki pracy i godne wynagrodzenie.
                    </div>
                    <br/> <br/>
                    Jesli jestes zainteresowany/a wyslij swoje CV:
                    <br/>
                    restauracja.kukulka@gmail.com
                </div>
            </div>

        </div>
        <div class="col-lg-6 item-right">http://ignitersworld.com/lab/assets/images/right.svg
            <div class="inner">
                <div class="inner-box" ng-click="menu.toggleContent()">
                    <div class="accent">___</div>
                    <div class="title">Menu</div>
                    <div class="content">
                        Najlepsze dania
                    </div>
                    <div class="link">
                        <span ng-hide="menu.contentVisible">Pokaż kartę</span>
                        <span ng-show="menu.contentVisible">Ukryj kartę</span>
                    </div>
                    <div class="hack">
                        . . . . . . . . . . . . . . . . . .
                        . . . . . . . . . . . . . . . . . .
                        . . . . . . . . . . . . . . . . . .
                        . . . . . . . . . . . . . . . . . .
                        . . . . . . . . . . . . . . . . . .
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="menu-content" id="menu" ng-class="{'menu-visible': menu.contentVisible}">
        <div class="slider">
            <dynamic-slider-bar
                    ng-if="menu.show"
                    slider-id="'menu-slider'"
                    slides="menu.slides"
                    control="menu.control">
            </dynamic-slider-bar>
        </div>
    </div>

    <div class="career" id="career">
        <h1>Poszukujemy kandydatow z pasja i talentem</h1>

    </div>
</div>
