.slider {
    position: relative;
}

.on-slider {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

.on-slider .box {
    width: 80%;
    height: 700px;
    min-width: 360px;
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    background-color: rgba(65, 65, 65, 0.8);
    padding: 40px;
    color: #fff;
}

.on-slider .box .item-left {
    font-size: 34px;
    top: 50px

}

@media (min-width: 991px) {
    .on-slider .box .item-left {
        top: 150px
    }
}

.on-slider .box .item-right {
    font-size: 20px;
    top: 100px;
    padding-left: 100px;
}

@media (min-width: 991px) {
    .on-slider .box .item-right {
        top: 360px;
        padding-left: 70px;
    }
}

.angular-google-map-container {
    height: 400px;
}
