.menu-bar .title {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    color: #B8AFA6;
    font-size: 32px;
}

.menu-bar .title span {
    border-style: solid;
    border-width: 3px;
    padding: 10px 60px 15px 60px;
}

.menu-bar .item {
    position: relative;
    text-align: center;
    color: #B8AFA6;
    padding: 0px 10px 18px;
}

.menu-bar .item:hover {
    cursor: pointer;
}

.menu-bar .item a {
    color: #B8AFA6;
    font-size: 20px;
    display: block;
    width: 100%;
}

.menu-bar .item a:hover {
    text-decoration: none;
}

.menu-bar .item span {
    display: none;
    font-size: 38px;
    position: absolute;
    top: -16px;
    left: calc(50% - 18px);
    z-index: -1;
}

.menu-bar .item:hover span {
    display: inline;
}
